h1,h2,h3,h4,h5{
	font-family: 'Archivo Black', sans-serif;
}
/*html{
	padding:3rem 3rem;
}*/
.background{
	width:100%;
	height:100%; /*140vh*/
	background: #BBD2C5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*@media only screen and (max-width: 786px) {
	.background{
	
	height:230vh;
	
}
}*/
html,body{
	scroll-behavior: smooth;
}
::-webkit-scrollbar{
	display: none;
};

/*i .fas .fa-arrow-left{
	position: absolute;
	top:21px;
	left:21px;

}*/
